#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

terraform-test

scripts/*.tf
scripts/*.json
scripts/ca/*
scripts/ssh/*
scripts/config/*